* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: #ddffcc;

}

img {
  border-width: medium;
  border-style: groove;
}

a:link {
  color: #660035;

}

a:visited {
  color: #c266ff;
}

a:hover {
  color: #742563;

}

.wrappertop {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.wrappermid {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;

}

#siteheader {
  font-family: sans-serif;
  font-size: 300%;
  color:#660000;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: #222205;
  text-decoration-style: double;
  text-shadow: 4px 2px #0F0F0F;
  opacity: 0.78;
  margin-bottom: 0%;
  background-image: linear-gradient(#ddffcc ,#00bf3f);
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 60%;
  min-width: 25%;
  background-color: #00cc44;
  background-image: linear-gradient(#00bf3f 5%, #ddffcc);
  padding-bottom: 10px;
  text-align: left;
}

main {
  min-width: 40%;
  min-height: 400%;

}

.background {
  background-image: url(images/ozarks.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 30%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1%;

}

.logo {
  width: 10%;
  height: 25%;
  max-width: 100px;
  max-height: 120px;
  position: static;
  margin-right: 10%;
  margin-left: -10%;

}

#nav-table {
  height: 20%;
  justify-content: center;

}
.nav {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
}

#horizontal-list {
  min-width: 250px;
  max-height: 20px;
  padding-top: 15px;
  float: left;
  position: relative;
  margin-bottom: 1%;
}

#horizontal-list li {
  display: inline;
  text-align: center;
}

nav {
  text-transform: uppercase;
  background-color: inherit;
  list-style: georgian;
  font-size: 1.6rem;
}

h1 {
  font-family: sans-serif;
  color:	#752463;
  font-size: 200%;
  text-align: center;
  text-shadow: 2px 1px #0F0F0F;
  opacity: 0.78;
  margin-top: 5%;
  margin-bottom: 2%;
  background-image: radial-gradient(#00bf3f 3% ,#ddffcc 40%);
  background-size: contain;
}

.body {
  font-family: sans-serif;
  color: #882b74;
  background-color:#00cc44;
  padding: 20px;
  border: 8px;
  border-color: #B9BAAF;
  border-style: groove;
  font-size: 120%;
  max-width: 460px;
  min-width: 85%;
  position: relative;
  margin-right: 5%;
}

footer {
  color: #742563;
  background-image: linear-gradient(#ddffcc ,#00cc44);
  height: 145px;
  min-width: 25%;
}

#footerbox {display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 10%;
}

.bottomlogo {width: 80%;
  height: 90%;
  float: left;
  max-width: 120px;
  max-height: 100px;
  margin-left: 22%;
  margin-top: 25%;
}

.footertext {
  font-family: sans-serif;
  color: #742563;
  max-width: 100px;
  position: absolute;
  top: 10px;
  bottom: 20px;
  right: 40px;
  padding-top: 15px;
  text-shadow: 1px;
  margin-right: 1%;
  margin-top: 2%;
}

.homeimage {
  float: right;
  padding-left: 16px;
  min-width: 20%;
  max-width: 80%;
  margin-top: 5%;
}

.vidorslide {
  position: relative;

  max-width: 700px;
  max-height: 200px;
  margin-right: 2%;
  margin-left: 0;
  margin-bottom: 2%;
}

.abouttext {
  position: relative;
  
  padding-left: 5%;
  margin-left: 12%;
  margin-right: 0;
}

.aboutdiv {
  margin: auto;
  display: flex;
  flex-direction: column;
  display:inline-block;
}

.goodboy {
  max-width: 200px;
  max-height: 400px;
}

.samples { padding: 10px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 13%;
  margin-top: 1%;
}

.sampletable {
  text-align: center;
  border: 2px solid #000000;
  margin-left: 11%;
  max-width: 80%;
  margin-top: 2%;
}

.worksample {
  color: #AF00B5;
  empty-cells: show
  justify-content: center;
}

.moveleft {
  float: left;
  position: relative;
}

.moveright {
  min-width: 40%;
  float: right;
  position: relative;
}

.calendar {
  float: right;
  max-width: 300px;
  max-height: 130px;
}

.contact {
  float: left;
  font-size: 24px;
  position: relative;
  margin-bottom: 0;
}

.form {
  float: left;
  font-size: 140%;
  color: #5a5854;
  position: relative;
  padding: 8px;
  margin-top: 0;
  display: inline-block;
  margin-left: auto;
}

.email {
  font-size: 90%;
  color: #5a5854;
}

.submit {
  font-size: 140%;
  color: #5a5854;
}

.cal {
  position: relative;
  padding: 8px;
  transform: translate(70%, -450%);
  margin-left: 12%;
  display: flex;
}

.box1 {
  min-width: 960px;
  min-height: 700px;
  overflow-y: visible;
  position: relative;
}
