* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: #ddffcc;

}

img {
  border-width: medium;
  border-style: groove;
}

a:link {
  color: #660035;

}

a:visited {
  color: #c266ff;
}

a:hover {
  color: #777563;

}

.wrappertop {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.wrappermid {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0 auto;
  margin-right: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

}

.wrappercontact {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: static;

}

#siteheader {
  font-family: sans-serif;
  font-size: 300%;
  color:#660000;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: #222205;
  text-decoration-style: double;
  text-shadow: 4px 2px #0F0F0F;
  opacity: 0.78;
  margin-bottom: 0%;
  background-image: linear-gradient(#ddffcc ,#00bf3f);
  margin-left: 0 auto;
  margin-right: 0 auto;
}

header {
  height: 60%;
  min-width: 25%;
  background-color: #00cc44;
  background-image: linear-gradient(#00bf3f 5%, #ddffcc);
  padding-bottom: 10px;
  text-align: left;
}

main {
  min-width: 40%;
  min-height: 400%;

}

.background {
  background-image: url(Images/ozarks.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1%;

}

.logo {
  position: static;
  width: 13em;
  margin-right: 15%;
  margin-left: -20%;
  border: none;

}

#nav-table {
  height: 20%;
  justify-content: center;

}
.nav {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
}

#horizontal-list {
  min-width: 250px;
  max-height: 20px;
  padding-top: 15px;
  float: left;
  position: relative;
  margin-bottom: 1%;
}

#horizontal-list li {
  display: inline;
  text-align: center;
}



nav {
  text-transform: uppercase;
  background-color: inherit;
  list-style: georgian;
  font-size: 1.6rem;
  padding-bottom: 5%;
}

h1 {
  font-family: sans-serif;
  color:	#752463;
  font-size: 200%;
  text-align: center;
  text-shadow: 2px 1px #0F0F0F;
  opacity: 0.78;
  margin-top: 5%;
  margin-bottom: 10%;
  background-image: radial-gradient(#00bf3f 3% ,#ddffcc 40%);
  background-size: contain;
}

.body {
  margin-top: 3%;
  font-family: sans-serif;
  color: #3a1232;
  background-color:#00bf3f;
  padding: 10px;
  border: 8px;
  border-color: #B9BAAF;
  border-style: groove;
  border-radius: 8px;
  font-size: 120%;
  max-width: 460px;
  min-width: 85%;
  position: relative;

}

footer {
  color: #742563;
  background-image: linear-gradient(#ddffcc ,#00cc44);
  height: 145px;
  min-width: 100%;
  margin-bottom: -3% auto;
}

#footerbox {display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2% auto;
  margin-top: 10%;
}

.bottomlogo {
  float: left;
  margin-left: 22%;
  margin-top: 25%;
  border: none;
}

.footertext {
  font-family: sans-serif;
  color: #742563;
  max-width: 100px;
  position: absolute;
  top: 10px;
  bottom: 20px;
  right: 40px;
  padding-top: 15px;
  text-shadow: 1px;
  margin-right: 1%;
  margin-top: 2%;
}

.homeimage {
  float: right;
  padding-left: 16px;
  height: 20%;
  width: 20%;
  border: none;
}

.vidorslide {
  position: relative;
  background-color:  #B9BAAF;
  margin: auto;
  width: 40%;
  height: 40%;
	border: 15px ridge #B9BAAF;
  border-radius: 8px


}

.abouttext {
  position: relative;
  margin: auto;
}

.aboutdiv {
  margin: auto;
  display: flex;
  flex-direction: column;
  display:inline-block;
}

.goodboy {
  max-width: 200px;
  max-height: 400px;
}

.samples { padding: 10px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  max-width: 300px;
  max-height: 300px;
  margin-left: 1em;
  margin-top: 1em;
}

.sampletable {
  text-align: center;
  border: 2px solid #000000;
  margin-left: 2em;
  max-width: 90%;
  min-width: 80%;
  margin-top: 2em;
  flex-wrap: nowrap;
}

.worksample {
  color: #AF00B5;
  empty-cells: show
  justify-content: center;

}

.samplefix {
  display: block;
  align-items: center;
}

.moveleft {
  float: left;
  position: relative;
}

.moveright {
  min-width: 40%;
  float: right;
  position: relative;

}

.calendar {
  float: right;
  padding: 5%;
  position: relative;
  min-width: 95%;
  max-height: 75%;
  margin-right: -60%;
  margin-top: auto;
  margin-bottom: 10%;
  padding-bottom: 3%;
  flex-shrink: 50%;



}

.contact {
  min-width: 120%;
  font-size: 24px;
  position: relative;
  margin-bottom: 0;
}

.form {
  max-width: 95%;
  font-size: 140%;
  color: #5a5854;
  position: relative;
  padding: 8px;
  margin-top: 0;
  display: inline-block;
}

.info {
  min-width: 80%;
  font-family: sans-serif;
  color:  #742563;
  border: 3px solid #00bf3f;
  border-radius: 1.3em;
  border-style: double;
  box-sizing: border-box;

}

.info:hover {
  cursor: pointer;
}

.info:focus {
  border-style: dashed;
}

.email {
  font-family: sans-serif;
  font-size: 90%;
  color: #5a5854;
  border: 5px solid #00bf3f;
  border-radius: 1.3em;
  border-style: double;
  box-sizing: border-box;
  resize: vertical;
}

.email:hover {
  cursor: pointer;
}

.email:focus {
    border-style: dashed;
}

.submit {
  background-color: #4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-size: 180%;
  letter-spacing: 0.1em;
  color: #ddffcc;
  border: 3px solid #00bf3f;
  border-radius: 1em;
  width: 80%;
  margin-top: 0.7em;
}

.submit:hover {
  color: #800042;
  background-color: #ddffcc;
  transition: transform .7s;
  transform: scale(1.15);
  cursor: pointer;

}

.box1 {
  position: relative;
  float: left;
  min-height: 70%;
  min-width: 55%;
  max-width: 75%;
  overflow-y: visible;
  margin-left: -15%;
  margin-bottom: 5%;

}

.contactpage {
position: relative;
display: inline;
margin: 0 auto;


}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);



.jzdbox1 {
  width:315px;
  background:#332f2e;
  border-radius:5px;
  overflow:hidden;
  display:block;
  margin-bottom:10px;
  box-shadow:0 0 10px #201d1c;
  margin:0 ;

}

.jzdcal {
  padding:0 10px 10px 10px;
  box-sizing:border-box!important;
  background:#749d9e;
  background: -webkit-linear-gradient(#749d9e, #b3a68b)!important;
  background: -o-linear-gradient(#749d9e, #b3a68b)!important;
  background: -moz-linear-gradient(#749d9e, #b3a68b)!important;
  background: linear-gradient(#749d9e, #b3a68b)!important;
}

.jzdcalt {
  font:18px 'Roboto';
  font-weight:700;
  color:#f7f3eb;
  display:block;
  margin:18px 0 0 0;
  text-transform:uppercase;
  text-align:center;
  letter-spacing:1px;
}

.jzdcal span {
  font:11px 'Roboto';
  font-weight:400;
  color:#f7f3eb;
  text-align:center;
  width:42px;
  height:42px;
  display:inline-block;
  float:left;
  overflow:hidden;
  line-height:40px;
}

.jzdcal .jzdb:before {
  opacity:0.3;
  content:'o';
}

.circle {
  border:1px solid #f7f3eb;
  box-sizing:border-box!important;
  border-radius:200px!important;
}

span[data-title]:hover:after,
div[data-title]:hover:after {
  font:11px 'Roboto';
  font-weight:400;
  content:attr(data-title);
  position:absolute;
  margin:0 0 100px;
  background:#282423;
  border:1px solid #f7f3eb;
  color:#f7f3eb;
  padding:5px;
  z-index:9999;
  min-width:150px;
  max-width:150px;
}

label {
  display: block;
  font-weight: 400;
  font-family: sans-serif;
  font-color: #742563;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  margin-left: 0.7em;
}

.error {
  border-color: #cc0069;
}

.error-message {
  color: #cc0069;
  margin-top: -0.1em;
}
